body{
	background-color:#d41243;
}
fieldset {
  border: none;
  padding: 20px;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  font-size: 30px;
  padding: 5px;
  margin: 10px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
 }
 
 p{
	 padding: 2px;
	 margin: 10px;
	 text-align: center;
	 font-family: 'Open Sans', sans-serif;
	 font-size: 15px;
	 
 }